div {
  border: 2px solid gray;
  padding: 8px;
  margin-top: 5px;
}

.first {
  font-family: "Times New Roman", Times, serif;
}

.second {
  font-family: Tahoma, Verdana, sans-serif;
}

.third {
  font-family: "Courier New", Courier, monospace;
}

.fourth {
  font-family: "Brush Script MT", cursive;
}

.fifth {
  font-family: Copperplate, Papyrus, fantasy;
}

.normal {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

.italic {
  font-style: italic;
  font-weight: lighter;
  font-variant: small-caps;
}

.oblique {
  font-style: oblique;
  font-weight: bold;
}

.pixel {
  font-size: 20px;
  margin-top: 15px;
}

.em {
  font-size: 2em;
  margin-top: 15px;
}
.responsive {
  font-size: 5vw;
  margin-top: 15px;
  margin-bottom: 15px;
}
.audiowide {
  font-family: "Audiowide", sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 2px lightseagreen;
}

.sofia {
  font-family: "Sofia", sans-serif;
}

.trirong {
  font-family: "Trirong", serif;
}

.pairing {
  background-color: black;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: gray;
}

.one {
  font-family: Georgia, serif;
  font-size: 60px;
  color: white;
}

.shorthand {
  font: oblique small-caps lighter 25px Georgis, serif;
}
